{% extends 'base.html'%}



{% block content %}

<h1>Add Income</h1>

<div class="container mt-4">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
      </nav>





    <div class="card">
        <div class="card-body">
            <form action="{% url 'add-income' %}" method="post">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
            <div class="form-group">
                <label for="">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" value="{{values.amount}}">
            </div>
            <br>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">
            </div>
            <br>
            <div class="form-group">
                <label for="">Sources</label>
                <select name="source" class="form-control">

                {% for source in sources %}

                <option name="source" value="{{source.name}}">{{source.name}}</option>

                {% endfor %}

                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Date of Income</label>
                <input type="date" class="form-control form-control-sm" name="income_date">
            </div>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
            </form>
        </div>

        
    </div>
    

</div>


{% endblock %}