{% extends 'base_auth.html' %}
 {% load static %} 


{% block content %}
<h1><b><i>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Expenses Tracker</i></b></h1>
<body style="background-color:lightseagreen">
<br>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="card mt-5">
        <div class="card-title">
            <h4>Please Enter Your Email-ID</h4>
        </div>




        <div class="card-body">
            <form action="{% url 'reset-password' %}" method="post">

                {% csrf_token %}

                {% include 'partials/_messages.html' %}


                <br>
                <div class="form-group">
                    <input  
                        type="email" 
                        name="email" 
                        placeholder="Email Id"   
                        class="form-control form-control-sm"  
                        id="emailField"
                        value="{{values.email}}"
                    />
                </div>
                
                <br>
                
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </div>
            </form>
            <div class="container">
                <span class="text-lead lead">Already have an account</span><a href="{% url 'login' %}">Login</a><br>
                <span class="text-lead lead">Don't have an account</span><a href="{% url 'register' %}">Reset</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
</body>
 <script src="{% static 'js/register.js' %}"></script> 



{% endblock content %}