{% extends 'base_auth.html' %}
 {% load static %} 


{% block content %}
<h1><b><i>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Expenses Tracker</i></b></h1>
<body style="background-color:lightseagreen">
<br>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="card mt-5">
        <div class="card-title">
            <h4>Set New Password</h4>
        </div>




        <div class="card-body">
            <form action="{% url 'reset-user-password' uidb64 token %}" method="post">

                {% csrf_token %}

                {% include 'partials/_messages.html' %}
                
                
                
                
                <br>
                <div class="form-group">
                    <input  
                        type="password" 
                        name="password" 
                        placeholder="Password"   
                        class="form-control form-control-sm"  
                        id="passwordField"
                    />
                    <small class="float-end py-2 showPasswordToggle">SHOW</small>
                </div>    
                <br>
                <div class="form-group">
                    <input  
                        type="password" 
                        name="password2" 
                        placeholder="Confirm Password"   
                        class="form-control form-control-sm"  
                        id="passwordField"
                    />
                    <small class="float-end py-2 showPasswordToggle">SHOW</small>
                </div>
                <br>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </div>
            </form>
            
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
</body>

 <script src="{% static 'js/register.js' %}"></script> 



{% endblock content %}